fastapi
uvicorn
transformers
torch
torchvision
torchaudio
python-multipart
openai-whisper
opencv-python
pillow
ffmpeg-python
sentencepiece
protobuf
tiktoken
moviepy
numpy
sentencepiece
protobuf
tiktoken
